.beta-hub-arrow {
    fill: #005eb8;
     display: block;
     margin-top: -8px;
     position: absolute;
     right: 24px;
     top: 50%;
}

.nhsuk-card__description {
    width: 84%;
    display: inline-block;
    margin-bottom: -10px;
}


.nhsuk-breadcrumb {
    background-color: #f0f4f5;
}

.beta-card--plain {
        background-color: #f0f4f5;
        border: #f0f4f5;
        border-bottom: 4px solid #d8dde0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        padding: 0 0 32px;
}

span.keeptogether {
    white-space: nowrap;
}


.horizontal-line.results {
    color: #d8dde0;
}

.nhsuk-list-results {
    border-bottom: 1px solid #d8dde0;
}

.nhsuk-panel {
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 24px;
    background-color: #fff;
    color: #212b32;
    width: 100%;
}

.nhsuk-details__text {
    border-left: none;
    margin-top: 8px;
    padding: 16px;
}